#submit_button{
    margin-top:20px;
    margin-bottom:20px;
}

#sort_button{
    display: none;
    margin-top:20px;
    margin-bottom:20px;
}

input{
    margin: 10px;
}
#display_name_with_commas{
    border: 1px solid aqua;
    padding: 10px;
    background-color:aquamarine;
    border-radius:10px;
    width:50%;

}

#display_name_without_commas{
    border:1px solid blueviolet;
    padding: 10px;
    background-color:seashell;
    border-radius:10px;
    width:50%;
}